<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEELDATA</title>
    <link rel="icon"  href="./favicon.png" type="image/x-icon">
</head>
<body>
    <!-- views/searchResults.hbs -->
<!-- views/searchResults.hbs -->
<h2>Search Results for Month {{searchMonth}}</h2>

{{#if filteredData.length}}
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>MobNo</th>
      <th>LicenceNo</th>
      <th>LLRType</th>
      <th>Type</th>
      <th>Addmission Date</th>
      <th>Total</th>
      <th>Deposite</th>
      <th>Pending</th>
      <th>MDLStatus</th>
      <!-- Add other attribute headers here -->
    </tr>
    {{#each filteredData}}
      <tr>
        <td>{{this.ID}}</td>
        <td>{{this.Name}}</td>
        <td>{{this.MobNo}}</td>
        <td>{{this.LicenceNo}}</td>
        <td>{{this.LLRType}}</td>
        <td>{{this.Type}}</td>
        <td>{{formatDate this.AddmissionDate}}</td>
        <td>{{this.Total}}</td>
        <td>{{this.Deposite}}</td>
        <td>{{this.Pending}}</td>
        <td>{{this.MDLStatus}}</td>
        <!-- Add other attribute values here -->
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>No results found for the selected month.</p>
{{/if}}

</body>
</html>